.carousel-bg-info {
    background-color: #fceae8;
}

.panda-btn-primary {
    color: white;
    background-color: #ff3886;
}


.catagories img {
    width: 40%;
    padding-left: 20px;


}

.carousel img {
    width: 80%;
}